.primary_button {
    padding: 18px 10px;
    background-color: black;
    color: white;
    min-width: 220px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;

    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sec_button {
    padding: 18px 10px;
    border: 1px solid black;
    background-color: transparent;
    color: rgb(15, 15, 15);
    min-width: 440px;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 21%;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;

    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}